.set-title {
    padding: 0;
    margin: 0;
}

.cards {
    display: grid;
    grid-gap: 10px;
}

.card {
    position: relative;
    min-height: 90px;
}

.card__edit {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: .88rem;
}

.card__edit a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: inherit;
}

.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
}

@media (min-width: 576px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}